* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #30526A;
  background-color: #FFFFFF;
  font-family: 'Maven Pro', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

/* Bloccare l'header, definire un'altezza ed impostare il torna su... */

.pagina { /* Verificare il funzionamento*/
  display: flex;
  flex-wrap: wrap;
}

.sezione { /* Verificare il funzionamento*/
  width: 100%;
  padding: 0.5em 1em; /* Rivedere cosa significa em */
/*  display: flex;  per me bisogna saltare questo livello ed andare all'eventuale contenitore di immagini successivo a titolo e paragrafo*/
}

strong {
  font-weight: bold;  /* Or 700 - se non mi serve posso eliminarlo*/
}


h1 {
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;
  text-align: center;
}

.intro {
  text-align: center;
}

h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  text-align: center;
}

.img-flex {
  max-width: 100%
}

.logo-flex {
  max-width: 40px
}

.sezione-about {
  color: #FFFFFF;
  background-color: #5EC9CC;
}

.sezione-progetti {
  color: #FFFFFF;
  background-color: #30526A;
  padding: 0px 0px;
}

.sezione-progetti div{
  padding: 0.5em 1em;
}

.sezione-contatti {
  background-color: #F6836B;
}

nav ul {
  background-color: #FFFFFF;
  list-style-type:none;
  display: flex;
  flex-direction: column;
}

nav ul li a{
  color: #30526A;
  display: block;
  padding: 0em 1em;
  text-decoration: none;
  text-align: center;
}

nav ul li a:hover{
  color: #F6836B;
}

.elenco-progetti{
  list-style-type:none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;

}

.elenco-progetti li{
  flex: 1 0 100%;
  height: 180px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.elenco-progetti li span{
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent 0%, #15232D 100%);
}

.elenco-progetti li span p{
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color:#FFFFFF;
  padding: 15px 15px;
}

.elenco-skill {
list-style: none;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: flex-start;
align-items: stretch;

}

.elenco-skill li{
  max-width: 50%;
  height: auto;
  padding:20px;
}

.elenco-skill li img{
  width: 100%;
}


footer {
  font-size: 12px;
  line-height: 18px;
}

footer div p a{
  text-decoration: none;
  font-weight: bold;
  color: #F6836B;
}

article div div a{
  text-decoration: none;
  color: #30526A;
}

.icon {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* Tablet Styles */
@media only screen and (min-width: 400px) and (max-width: 800px) {
    .elenco-progetti li{
      max-width: 50%;
      height: 180px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }


  .elenco-skill li{
    max-width: 33%;
    height: auto;
    padding:20px;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 800px) {

  body {
    font-size: 18px;
    line-height: 28px;
  }

  h1 {
    font-size: 36px;
    line-height: 46px;
  }

  h2 {
    font-size: 27px;
    line-height: 37px;
  }

  .page750px {
    width: 750px; /*da valutare se anche per l'header e/o footer... o fare a tutta ampiezza
    nel caso creare una nuova classe specifica per gli elementi */
    margin: auto; /*Horizontal*/
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul li {
    flex:1;
    text-align: center;
  }

  .elenco-progetti li{
    max-width: 33.3333%;
    height: 240px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .elenco-skill li{
    max-width: 20%;
    height: auto;
    padding:20px;
  }

}
