* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #30526A;
  background-color: #FFFFFF;
  font-family: 'Maven Pro', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

}

.pagina { /* Verificare il funzionamento*/
  display: flex;
  flex-wrap: wrap;
}

.sezione { /* Verificare il funzionamento*/
  width: 100%;
  padding: 0.5em 1em;
/*  display: flex;  per me bisogna saltare questo livello ed andare all'eventuale contenitore di immagini successivo a titolo e paragrafo*/
}

strong {
  font-weight: bold;  /* Or 700 - se non mi serve posso eliminarlo*/
}

h1 {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  line-height: 42px;
  font-weight: normal;
}

.sezione-about {
  color: #FFFFFF;
  background-color: #5EC9CC;
}

.sezione-progetti {
  color: #FFFFFF;
  background-color: #F6836B;
}

.sezione-contatti {
  background-color: #F9D291;
}

nav ul {
  background-color: #FFFFFF;
  list-style-type:none;
  display: flex;
  flex-direction: column;
}

nav ul li a{
  color: #30526A;
  display: block;
  padding: 0em 1em;
  text-decoration: none;
  text-align: center;
}

nav ul li a:hover{
  color: #F6836B;
}

/* Desktop Styles */
@media only screen and (min-width: 800px) {

  body {
    font-size: 18px;
    line-height: 28px;
  }

  h1 {
    font-size: 27px;
    line-height: 37px;
  }

  h2 {
    font-size: 36px;
    line-height: 46px;
    font-weight: normal;
  }

  .page750px {
    width: 750px; /*da valutare se anche per l'header e/o footer... o fare a tutta ampiezza
    nel caso creare una nuova classe specifica per gli elementi */
    margin: auto; /*Horizontal*/
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul li {
    flex:1;
    text-align: center;
  }

  nav ul li a:hover{
  }

}






/*  inserire font maven - locally hosted web fonts*/
/*  inserire mobile friendly a 800px */
/*  menu espando o a righe? di sicuro con il */
/*  inserire gerarchia font, usare come spunto backlinko */
