/* reset stile di default del browser*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* impostazioni generali */
html {
  font-size: 62.5%; /* valore di riferimento per i "rem" */
}

body {
  color: #30526A;
  background-color: #FFFFFF;
  font-family: 'Maven Pro', sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
  font-weight: normal;
  margin: 3.2rem 0;
}

h2 {
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  margin: 2.4rem 0;
}

p {
  margin: 1.6rem 0;
}

strong {
  font-weight: bold;
}

.pagina { /* imposta gli elementi principali della pagina come flexbox*/
  display: flex;
  flex-wrap: wrap;
}

.sezione { /* adatta la dimensione del box allo schermo ed assieme alla class "fixes-width-layout"
 consente di gestire il "layout fisso" per desktop */
  width: 100%;
  padding: 0rem 1.6rem;
}

/* sezione "Header" */
header img {
  width: 5rem;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem 0;
}

nav { /* gestione menu in modalità "esplosa"*/
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
}

nav ul {
  list-style-type:none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav li {
  text-align: center;
  line-height: 1.7;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #30526A;
}

nav a:hover {
  color: #F6836B;
}

/* sezione "About" */
.sezione-about {
  color: #FFFFFF;
  background-color: #30526A;
}

/* sezione "Metodo" */
.img-flex {
  max-width: 100%;
  margin: 1.6rem 0;
}

/* sezione "Progetti" */
.sezione-progetti {
  color: #FFFFFF;
  background-color: #30526A;
  padding: 0rem 0rem;
}

.sezione-progetti div {
  padding: 0rem 1.6rem;
}

.sezione-progetti p a {
  text-decoration: none;
  color:#FFFFFF;
  font-weight: bold;
}

.sezione-progetti p a:hover {
  color: #F6836B;
}

.elenco-progetti {
  list-style-type:none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.elenco-progetti li {
  flex: 1 0 100%;
  height: 180px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.elenco-progetti span {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent 0%, #15232D 100%);
}

.elenco-progetti a {
  text-decoration: none;
  color:#FFFFFF;
  font-weight: bold;
  padding: 15px 15px;
}

.elenco-progetti a:hover {
  color: #F6836B;
}

/* sezione "Strumenti" */
.elenco-strumenti {
list-style: none;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: flex-start;
align-items: center;
}

.elenco-strumenti li {
  max-width: 50%;
  height: auto;
  padding:20px;
}

.elenco-strumenti img {
  width: 100%;
}

/* sezione "Contatti" */
.sezione-contatti {
  color: #FFFFFF;
  background-color: #30526A;
}

.cta {
  text-align: center;
  margin: 2.4rem 0 1.6rem;
}

.icon {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.icon a {
  text-decoration: none;
  color: #FFFFFF;
}

.icon a:hover {
  color: #F6836B;
}

.icon i.fas,
.icon i.fab {
  margin: 2.4rem 0 3.6rem;
}

/* sezione "Footer" */
footer {
  font-size: 1.2rem;
  margin: 1.2rem 0;
}

footer p {
  margin: 0 0;
}

footer a{
  text-decoration: none;
  font-weight: bold;
  color: ##30526A;
}

footer a:hover{
  color: #F6836B;
}

/* impostazioni specifiche per tablet */
@media only screen and (min-width: 400px) and (max-width: 800px) {

/* impostazioni generali */
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.7rem;
  }

/* impostazioni specifiche per le sezioni */
  .elenco-progetti li{
    max-width: 50%;
    height: 240px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .elenco-strumenti li{
    max-width: 33%;
    height: auto;
    padding:20px;
  }
}

/* impostazioni specifiche per desktop */
@media only screen and (min-width: 800px) {

/* impostazioni generali */
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  .fixes-width-layout {
    width: 750px;
    margin: auto; /* permette di centrare il contenuto */
  }

/* impostazioni specifiche per le sezioni */
  .sezione-progetti div {
    padding: 0rem 0rem;
  }

  .sezione-progetti div .fixes-width-layout{
    padding: 0rem 1.6rem;
  }

  .elenco-progetti li{
    max-width: 33.3333%;
    height: 360px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .elenco-strumenti li{
    max-width: 20%;
    height: auto;
    padding:20px;
  }

}
